<a href="https://colab.research.google.com/github/leobioinf0/Base_de_dades/blob/main/S13_T01_Relational_databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IT Academy - Data Science with Python
## Sprint 13. Relational databases
### S13 T01: Relational databases

## Level 1

- Exercise 1  

  - Create a sample relational database using a text or handwritten document. Design it to contain the following tables, and establish the relationships you deem necessary between them:

    - Table of purchases (transactions)

    - Table of establishments

    - Table of workers

    - Table of clients

    - Table of products

    - Product type table

  - Defines the properties of the relationships (1: 1, 1: n, n: n), and create some of the variables that could contain, for example:

    - Table of establishments

      - IDestabliment (unique key)

      - Nom

      - Location

      - Surface

<img src="https://github.com/leobioinf0/Base_de_dades/blob/main/ex01_Relational_databases.png?raw=true">

## Level 2

- Exercise 2:

  - Use an entity-relationship diagram creation program like http://dia-installer.de to create the diagram.

I have used [lucidchart](https://www.lucidchart.com/)

<img src="https://github.com/leobioinf0/Base_de_dades/blob/main/ex02_Relational_databases.png?raw=true">

## Level 3

- Exerxise 3:
  - Use the MySQL Workbench to create a relational model.

SQL comands to create de data base

```sql
DROP DATABASE IF EXISTS tienda;
CREATE DATABASE tienda;
USE tienda;
CREATE TABLE CUSTOMERS (
  customer_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  customer_name VARCHAR(40) NOT NULL,
  customer_lastname VARCHAR(40) NOT NULL,
  customer_street VARCHAR(40) NULL,
  customer_city VARCHAR(40) NULL,
  customer_zip INT NULL,
  customer_phone VARCHAR(40) NULL,
  customer_email VARCHAR(40) NOT NULL
);
CREATE TABLE ESTABLISHMENT (
  establishment_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  establishment_name VARCHAR(40) NOT NULL,
  establishment_street VARCHAR(40) NOT NULL,
  establishment_city VARCHAR(40) NOT NULL,
  establishmentr_zip INT NOT NULL,
  establishment_phone VARCHAR(40) NOT NULL,
  establishment_email VARCHAR(40) NOT NULL,
  establishment_start DATE NOT NULL,
  establishment_ends DATE NULL
);
CREATE TABLE WORKERS (
  worker_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  establishment_ID INT NOT NULL,
  worker_name VARCHAR(40) NOT NULL,
  worker_lastname VARCHAR(40) NOT NULL,
  worker_gender VARCHAR(10) NOT NULL,
  worker_category VARCHAR(40) NOT NULL,
  worker_start DATE NOT NULL,
  worker_end DATE NULL,
  FOREIGN KEY (establishment_ID) REFERENCES ESTABLISHMENT (establishment_ID)
);
CREATE TABLE PRODUCT_TYPE (
  product_type_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  product_type_name VARCHAR(40) NOT NULL,
  product_type_description VARCHAR(40) NOT NULL
);
CREATE TABLE PRODUCTS (
  product_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  product_type_ID INT NOT NULL,
  product_name VARCHAR(40) NOT NULL,
  product_price FLOAT NOT NULL,
  product_color VARCHAR(40) NOT NULL,
  product_size FLOAT NOT NULL,
  product_description VARCHAR(40) NOT NULL,
  FOREIGN KEY (product_type_ID) REFERENCES PRODUCT_TYPE (product_type_ID)
);
CREATE TABLE TRANSACTION (
  transaction_ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  customer_ID INT NOT NULL,
  product_ID INT NOT NULL,
  worker_ID INT NOT NULL,
  transaction_quantity INT NOT NULL,
  transaction_price FLOAT NOT NULL,
  transaction_date DATETIME NOT NULL,
  transaction_details VARCHAR(40) NULL,
  FOREIGN KEY (customer_ID) REFERENCES CUSTOMERS (customer_ID),
  FOREIGN KEY (product_ID) REFERENCES PRODUCTS (product_ID),
  FOREIGN KEY (worker_ID) REFERENCES WORKERS (worker_ID)
);
```

<img src="https://github.com/leobioinf0/Base_de_dades/blob/main/ex03_Relational_databases.png?raw=true">